/* styles/global.css */
:root {
  /* Light mode colors */
  --background-start-rgb: 252, 248, 242; /* hsl(36 33% 97%) */
  --background-end-rgb: 252, 248, 242;   /* hsl(36 33% 97%) */
}

.dark {
  /* Dark mode colors */
  --background-start-rgb: 26, 22, 21;    /* hsl(20 14% 10%) */
  --background-end-rgb: 26, 22, 21;      /* hsl(20 14% 10%) */
}

nav.flex.flex-col.gap-6 img.h-8.w-8.mb-6 {
  margin-bottom: 0 !important;
}
