/* styles/global.css */
:root {
  --background-start-rgb: 255, 255, 255; /* Light mode start */
  --background-end-rgb: 255, 255, 255;   /* Light mode end */
}

.dark {
  --background-start-rgb: 0, 0, 0;       /* Dark mode start */
  --background-end-rgb: 0, 0, 0;         /* Dark mode end */
}

nav.flex.flex-col.gap-6 img.h-8.w-8.mb-6 {
  margin-bottom: 0 !important;
}
